#container {
    width: 960px;
    height: 500px;
/*    background-color: lightsteelblue;*/
    margin: 0px auto 0px auto; 
}

header {
    width: 960px;
    height: 140px;
    background-color: #ffffff;
}
#logobox {
    width: 200px;
    height: 78px;
    float: left;
    margin: auto 0 auto 20px;
}

nav {
    width: 750px;
    height: 52px;
    line-height: 52px;
    background-color: #f99f1b;
    float: right;
}
nav a {
   
    font-size: 18px;
      color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
    margin: auto 50px auto 60px;
}
nav a:hover {
    color: gray;
}

#slider {
    width: 960px;
    height: 360px;
    border: 1px solid green;
    background: url(../images/SliderImage.jpg);
   
}

#slidercontent {
    width: 260px;
    height: 280px;    
    margin: 50px auto 0px 600px; 
}
span{
     color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
}
.form-control{
    width: 250px;
    height: 40px;
    margin-top: 10px;
}
select{
    width: 150px;
    height: 30px;
    margin: 15px auto 30px; auto;
}

h2{
     color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
}
label{
     color: #ffffff;
    font-family:sans-serif ;
    font-size: 14px;
}

button{
    background-color: #f99f1b;
    
    margin-top: 20px;
}